@media (max-width: 1100px) {
  .container {
    width: 100%;
  }
  .header-container {
    filter: brightness(25%);
  }
  .blog-section {
    padding: 1rem;
  }

  .blog-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .blog-title p {
    padding: 0;
  }

  .grid-image {
    padding: 0 1rem;
    grid-template-columns: repeat(3, 1fr);
  }
  .technology-section h1 {
    margin-bottom: 4rem;
  }
  .item-image {
    height: 10rem;
  }

  .d-about-me {
    padding: 0 8rem;
    grid-template-columns: 1fr;
  }
  .about-me {
    padding: 4rem 0;
  }
}

@media (max-width: 768px) {
  .blog-list {
    grid-template-columns: 1fr;
  }
  .grid-image {
    grid-template-columns: repeat(2, 1fr);
  }
  .d-about-me {
    padding: 0 2rem; 
  }
}
